<template name="wtSalesInteractionMenu">
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#">Inital Questions</a></li>
        <li role="presentation"><a href="#">Service Address</a></li>
        <li role="presentation"><a href="#">More Questions</a></li>
        <li role="presentation"><a href="#">Choose A Plan</a></li>
        <li role="presentation"><a href="#">Disclosures</a></li>
    </ul>
    {{createDate}} {{createUsername}}
</template>

<template name="wtSalesInteraction">
    {{> wtSalesInteractionMenu}}
</template>