div.wt-tower-map-container {
  height: 520px;
  padding: 1%;
  border: #ddd solid 1px;
  clear: both;
}

div.wt-tower-title {
  color: #999;
  text-align: right;
}

button.wt-btn-control {
  margin-top: 5px !important;
}
