div.interaction-content {
  padding: 3%;
  border: #ddd solid 1px;
  border-top-style: none;
  clear: both;
  width: 100%;
}

div.interaction-name {
  text-align: left;
}

div.interaction-title {
  color: #999;
  text-align: right;
}

div.interaction-menu {
  width: 100%;
}

label.standalone {
  margin-bottom: 30px;
}

