<template name='home'>
  <div class="bg-secondary app-page">
    <div class="container">
      <center>
        <h2>Welcome to ReadyNet Control</h2>
        <br />
        <h3>Easily Control</h3>
        <h3>Wi-Fi Routers, LTE Routers, DSL Routers, ATAs, IP Phones</h3>
        <br />
        <p>Free for your first 5 routers. Click Join above to create an account now.</p>
        <p>RNControl.com manages ReadyNet routers and other TR-069 capable devices.</p>
        <br />
        <img src="/img/rncontrol-screenshot.png" class="img-responsive" alt="">
      </center>
    </div>
  </div>
</template>